{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        thedavidmeister/cljc-md5 {:mvn/version "0.0.2"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        org.clojure/math.combinatorics {:mvn/version "0.3.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "advent-of-code.advent-of-code"]}
  :run-x {:ns-default advent-of-code.advent-of-code
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}} :neil {:project {:name advent-of-code/advent-of-code}}

 :nrepl ;; added by neil
 {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
  :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]}}}
